h3 
{
  font-size: 25px !important;
}
.btn-sucess:hover
{
    background-color: aquamarine;
}
canvas
{
     animation-name: example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
}
@keyframes example
{
    from {box-shadow: 1px 1px 38px red;}
  to {box-shadow: 1px 1px 38px yellow;}
}
body
{
    background:url("https://cdn.pixabay.com/photo/2020/06/10/12/58/joker-5282593_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}